// Disable automatic Nextflow update checks
nextflow.enable.checkLatest = false

includeConfig 'conf/base.config'

// Profile definitions
profiles {
    local {
        includeConfig 'conf/local.config'
    }
    slurm {
        includeConfig 'conf/slurm.config'
    }
}

// Set default profile to 'local'
params.profile = 'local'
profile = params.profile

if (params.profile != 'local' && params.profile != 'slurm') {
    println "WARNING: Unknown profile '${params.profile}'. Defaulting to 'local'."
    params.profile = 'local'
}
