params {
    // Required parameters
    prefix = ''
    directory = ''

    // Optional parameters with defaults
    outdir = 'results'
    subsample_reads = null

    // Tool paths
    seqtk_path = '/Users/henningonsbring/dev/seqtk/seqtk'
    spades_path = '/Users/henningonsbring/tools/SPAdes-4.2.0-Darwin/bin/spades.py'

    // SPAdes parameters
    spades_threads = 14
    spades_memory = 120
    spades_k = 'auto'
}