// Local execution profile
process {
    executor = 'local'

    withName: 'fastp_trim' {
        cpus = params.fastp_threads
        memory = '8.GB'
    }
    withName: 'subsample_fastq' {
        cpus = 2
        memory = '4.GB'
    }
    withName: 'spades_assemble' {
        cpus = params.spades_threads
        memory = { "${params.spades_memory}.GB" }
    }
    withName: 'diamond_blastx' {
        cpus = params.diamond_threads
        memory = '16.GB'
    }
    withName: 'taxa_quantify' {
        cpus = 1
        memory = '4.GB'
    }
}
