// SLURM execution profile
process {
    executor = 'slurm'
    queue = 'sens'  // CHANGE THIS to your cluster queue name

    // Optional SLURM options (customize for your cluster)
    // clusterOptions = '--account=your_project --partition=normal'

    withName: 'fastp_trim' {
        cpus = params.fastp_threads
        memory = '8.GB'
        time = '5h'
    }
    withName: 'subsample_fastq' {
        cpus = 2
        memory = '4.GB'
        time = '5h'
    }
    withName: 'spades_assemble' {
        cpus = params.spades_threads
        memory = { "${params.spades_memory}.GB" }
        time = '72h'
    }
    withName: 'diamond_blastx' {
        cpus = params.diamond_threads
        memory = '16.GB'
        time = '12h'
    }
    withName: 'taxa_quantify' {
        cpus = 1
        memory = '4.GB'
        time = '1h'
    }
}
